<div class="flex h-screen">
  <!-- Sidebar -->
  <aside class="w-68 bg-gray-500 text-white p-4">
    <!-- Logo -->
    <div class="flex justify-center mb-4">
      <img src="assets/logo.png" alt="Maruei Miyazaki Logo" class="h-10" />
    </div>
    <h2 class="font-bold mb-4">🗺️ Factory Layout:</h2>
    <ul class="space-y-2">
      <li><a routerLink="/mercury" class="link-hover">🏭 1. Mercury</a></li>
      <li><a routerLink="/tierra" class="link-hover">🏭 2. Tierra</a></li>
      <li><a routerLink="/jupiter" class="link-hover">🏭 3. Jupiter</a></li>
      <li><a routerLink="/saturn" class="link-hover">🏭 4. Saturn</a></li>
    </ul>
  </aside>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col">

    <!-- Nội dung Route -->
    <main class="flex-1 bg-gray-100 p-6 overflow-auto">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
